/***************************************************
* Add nesting to reduce unecessary reptition of 
* selectors
***************************************************/

$primary-color: rgb(199, 32, 32);
$primary-color-dark: rgb(167, 29, 29);

$box-shadow-sm: 0 0 5px 0 rgba(0, 0, 0, 0.5);
$box-shadow-md: 0 3px 10px 0 rgba(0, 0, 0, 0.3);

$border-radius-sm: 5px;

$nav-height: 70px;


html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  padding-top: $nav-height;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

a {
  text-decoration: none;
}


.nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: $nav-height;
  color: white;
  background-color: $primary-color;
  box-shadow: $box-shadow-md;
}
  .nav-icon-container {
    cursor: pointer;
    margin: 0 2em;
    display: flex;
    height: inherit;
    align-items: center;
  }
    .nav-icon-container .nav-icon {
      height: 50px;
    }
    .nav-icon-container .nav-title {
      padding-left: 0.5em;
    }

.nav .nav-list {
  margin: 0;
  padding: 0;
  height: inherit;
  list-style: none;
  display: flex;
  align-items: center;
}
  .nav .nav-list .nav-list-item {
    user-select: none;
    cursor: pointer;
    line-height: $nav-height;
    padding: 0 1em;
    height: 100%;
    color: white;
  }
    .nav-list-item:hover {
      background-color: $primary-color-dark;
      box-shadow: $box-shadow-sm;
    }


.content {
  margin: 2em;
  display: flex;
  justify-content: center;
}
  .content-wrapper {
    max-width: 900px;
  }

.section {
  margin-bottom: 2em;
  border-radius: 5px;
  box-shadow: $box-shadow-md;
}

.banner {
  text-align: center;
  padding: 3em;
  background-color: rgb(255, 242, 242);
  border-top: solid 2px $primary-color;
  border-bottom: solid 2px $primary-color;
}
  .banner .banner-header {
    font-size: 200%;
    font-weight: 400;
  }
  .banner .banner-text {
    font-size: 90%;
  }


.users {
  border-top: solid 2px rgb(219, 218, 216);
  border-bottom: solid 2px rgb(219, 218, 216);
}
  .user-list {

  }
    .user-list .user-summary {
      display: flex;
      padding: 0 15px;
      height: 70px;
      border-bottom: solid 1px lightgray;
      align-items: center;
    }
    .user-list .user-summary:hover {
      cursor: pointer;
      background-color: rgb(247, 247, 247);
      box-shadow: $box-shadow-sm;
    }
    .user-list .user-summary:first-of-type {
      border-top-left-radius: $border-radius-sm;
      border-top-right-radius: $border-radius-sm;
    }
    .user-list .user-summary:last-of-type {
      border-bottom-left-radius: $border-radius-sm;
      border-bottom-right-radius: $border-radius-sm;
    }
      .user-summary .user-summary-image {
        object-fit: cover;
        height: 40px;
        width: 40px;
        border-radius: 20px;
      }
      .user-summary .user-summary-name {
        font-weight: 400;
        padding: 0 1em;
      }
      .user-summary .user-summary-description {
        background-color: rgb(233, 233, 233);
        padding: 10px;
        border-radius: 5px;
      }