$primary-color: rgb(199, 32, 32);
$primary-color-dark: rgb(167, 29, 29);

$box-shadow-sm: 0 0 5px 0 rgba(0, 0, 0, 0.5);
$box-shadow-md: 0 3px 10px 0 rgba(0, 0, 0, 0.3);

$border-radius-sm: 5px;

$nav-height: 70px;